.tree-view-container {
  min-height: 100vh;
  width: 350px;
  background: rgb(0, 71, 110);
  font-size: 24px;
  display: flex;
  justify-content: left;
}

.menu-item {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 20px;
  margin: 40px;
  cursor: pointer;
  color: #fff;
}

.menu-list-container {
  list-style: none;
  margin-top: 0px;
  margin-bottom: 0px;
}
